Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

Update gif link
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Update gif link (#146)
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Create release.yml
  .github/workflows/release.yml
Due: prettier-fix

add dry run yaml
  .github/workflows/release_dry_run.yml
Due: prettier-fix

fixed script
  .github/workflows/release_dry_run.yml
Due: prettier-fix

modified version read
  .github/workflows/release_dry_run.yml
Due: prettier-fix

modified tag check
  .github/workflows/release_dry_run.yml
Due: prettier-fix

added release yaml
  .github/workflows/release.yml
  .github/workflows/release_dry_run.yml
Due: prettier-fix

specified permissions
  .github/workflows/release.yml
  .github/workflows/release_dry_run.yml
Due: prettier-fix

combined files
  .github/workflows/release.yml
  .github/workflows/release_dry_run.yml
Due: prettier-fix

fixed output messages
  .github/workflows/release.yml
Due: prettier-fix

modified dry run description
  .github/workflows/release.yml
Due: prettier-fix

add trivy
  .github/workflows/ci.yml
Due: prettier-fix

add vuln file
  .github/workflows/ci.yml
  .github/workflows/vulnerability.yml
Due: prettier-fix

modified error checkign
  .github/workflows/vulnerability.yml
Due: prettier-fix

fixed vuln regarding version
  .github/workflows/release.yml
Due: prettier-fix

changed default to true
  .github/workflows/release.yml
Due: prettier-fix

fixed vuln issues
  .github/workflows/vulnerability.yml
Due: prettier-fix

removed release from this branch
  .github/workflows/release.yml
Due: prettier-fix

modified events text description
  README.md
Due: prettier-fix

Task: Release pipeline (#151)
  .github/workflows/release.yml
Due: prettier-fix

Task: Add vuln scanning (#156)
  .github/workflows/vulnerability.yml
Due: prettier-fix

modified events text description (#159)
  README.md
Due: prettier-fix

modfiied prompt
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed extract response
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

changed to be last instance
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: Return text (#163)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed prompt issue
  src/core/response/prompt.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed prompt issue (#167)
  src/core/response/prompt.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified branding logo
  action.yml
Due: prettier-fix

Docs(contributing): added a quick start guide and more comprehensive docs
  CONTRIBUTING.md
Due: prettier-fix

removed comments
  action.yml
Due: prettier-fix

modified action.yml description
  action.yml
Due: prettier-fix

Task: installation script (#145)
  .github/workflows/h2ogpte.yml
  .github/workflows/h2ogpte_auto_pr.yml
  README.md
  examples/h2ogpte.yaml
  installation.sh
Due: prettier-fix

Docs(contributing): added a quick start guide and more comprehensive docs (#170)
  CONTRIBUTING.md
Due: prettier-fix

Task: branding (#172)
  action.yml
Due: prettier-fix

docs(readme): compressed to core components and moved to separate docs dir
  README.md
  docs/CONFIGURATION.md
  docs/USAGE.md
  docs/images/h2ogpte_hero.png
Due: prettier-fix

docs(readme): add yellow border to h2ogpte comment image hero
  docs/images/h2ogpte_hero.png
Due: none

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
