Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

task: uploaded light mode image
  docs/images/h2ogpte_hero.png
  docs/images/h2ogpte_hero_light.png
Due: none

docs: changed hero back to light mode
  README.md
Due: prettier-fix

docs: dynamically swap between dark and light mode hero
  README.md
Due: prettier-fix

Docs: Dark & Light Mode Hero (#206)
  README.md
  docs/images/h2ogpte_hero.png
  docs/images/h2ogpte_hero_dark.png
  docs/images/h2ogpte_hero_light.png
Due: prettier-fix

docs: re-pointed images to main repo
  README.md
Due: prettier-fix

Task: Dynamically Change Readme Hero (#207)
  README.md
Due: prettier-fix

functionality for empty instructions
  src/core/response/prompt.ts
  src/core/response/utils/formatter.ts
  src/core/response/utils/instruction.ts
Due: eslint-fix, prettier-fix, typescript-check

modified tests for empty string
  tests/response/formatter.test.ts
  tests/response/instruction.test.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified to strip content before the expected header
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: Empty instruction (#210)
  src/core/response/prompt.ts
  src/core/response/utils/formatter.ts
  src/core/response/utils/instruction.ts
  tests/response/formatter.test.ts
  tests/response/instruction.test.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified to strip content before the expected header (#211)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified to remove aggressive cleaning
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

adjusted cleanup logic
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: Code block formatting (#212)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Change pull_request to pull_request_target event
  .github/workflows/h2ogpte_auto_pr.yml
Due: prettier-fix

added test file
  test.txt
Due: none

Allow auto review on additional branch
  .github/workflows/h2ogpte_auto_pr.yml
Due: prettier-fix

modified test file
  test.txt
Due: none

edited all workflow files to pull_request_target
  .github/workflows/h2ogpte_auto_pr.yml
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
Due: prettier-fix

Task: Change auto review (#213)
  .github/workflows/h2ogpte_auto_pr.yml
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
Due: prettier-fix

task: bump version to v0.2.1-beta
  README.md
  docs/CONFIGURATION.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

task: bump version to v0.2.1-beta (#217)
  README.md
  docs/CONFIGURATION.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

fix: github bug where banner toggle doesn't work in marketplace readme
  README.md
Due: prettier-fix

fix: remove appearance toggle
  README.md
Due: prettier-fix

fix: revert to light mode banner
  README.md
Due: prettier-fix

fix: github bug where banner toggle doesn't work in marketplace readme (#218)
  README.md
Due: prettier-fix

removed bias for #23
  src/core/response/prompt.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

changed prompt to remove regex
  src/core/response/prompt.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Remove prompt/agent response bias (#225)
  src/core/response/prompt.ts
  tests/response/prompt.test.ts
Due: eslint-fix, prettier-fix, typescript-check

docs: YouTube video series
  README.md
  docs/USAGE.md
Due: prettier-fix

fix: typos and correct playlist link
  README.md
  docs/USAGE.md
Due: prettier-fix

docs: YouTube video series (#226)
  README.md
  docs/USAGE.md
Due: prettier-fix

added slash commands parsing
  action.yml
  examples/h2ogpte.yaml
  src/core/response/prompt.ts
  src/core/response/utils/slash-commands.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed extra whitespace removal with citation blocks
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added tests for the slash commands
  tests/response/utils/slash-commands.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed null error
  src/core/response/utils/slash-commands.ts
  tests/response/utils/slash-commands.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed prompt empty case
  src/core/response/utils/slash-commands.ts
  tests/response/utils/slash-commands.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: Code blocks (#228)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed case of no commands set
  src/core/response/utils/slash-commands.ts
  tests/response/utils/slash-commands.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified prompt defaults for slash commands
  .github/workflows/h2ogpte.yml
  action.yml
  examples/h2ogpte.yaml
Due: prettier-fix

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
