Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

docs(readme): no border on h2ogpte comment image hero
  docs/images/h2ogpte_hero.png
Due: none

docs(readme): 8px border shadow on h2ogpte comment image hero
  README.md
Due: prettier-fix

docs(readme): manual border shadow on h2ogpte comment image hero
  README.md
  docs/images/h2ogpte_hero.png
Due: prettier-fix

docs(readme): softer border shadow on h2ogpte comment image hero
  docs/images/h2ogpte_hero.png
Due: none

docs(readme): smaller border on h2ogpte comment image hero
  docs/images/h2ogpte_hero.png
Due: none

docs(readme): emoji for each heading and fixed installation path
  README.md
Due: prettier-fix

modified prompt
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

docs(readme): fixed h2ogpte base path
  README.md
  docs/CONFIGURATION.md
Due: prettier-fix

docs(usage): simplified usage docs
  docs/USAGE.md
Due: prettier-fix

docs: removed unecessary paragraphs
  CONTRIBUTING.md
  README.md
Due: prettier-fix

Readme Enhancements for Release (#177)
  CONTRIBUTING.md
  README.md
  docs/CONFIGURATION.md
  docs/USAGE.md
  docs/images/h2ogpte_hero.png
Due: prettier-fix

task: add Apache License 2.0
  LICENSE
Due: none

docs(readme): update license information
  README.md
Due: prettier-fix

fix: add source attribution comment for write permissions check
  src/core/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

created new use case dir
  examples/custon_workflows/h2ogpte_auto_docs.yaml
  examples/custon_workflows/h2ogpte_auto_issue_context.yaml
  examples/custon_workflows/h2ogpte_auto_pr.yaml
  examples/custon_workflows/h2ogpte_auto_test.yaml
Due: prettier-fix

fleshed out base yaml
  examples/h2ogpte.yaml
Due: prettier-fix

renamed custom workflows dir
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
Due: prettier-fix

modified usage.md
  docs/USAGE.md
Due: prettier-fix

updated prompts
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
Due: prettier-fix

task: add Apache License 2.0 (#179)
  LICENSE
  README.md
  src/core/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: GitHub markdown (#175)
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

docs: add link to examples in readme
  README.md
Due: prettier-fix

added descriptions for all use cases
  docs/USAGE.md
Due: prettier-fix

Feat: Use cases (#181)
  README.md
  docs/USAGE.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  examples/h2ogpte_auto_docs.yaml
  examples/h2ogpte_auto_pr.yaml
Due: prettier-fix

added faqs
  docs/FAQ.md
Due: prettier-fix

task: use secret for h2ogpte_api_base in workflow
  .github/workflows/h2ogpte.yml
Due: prettier-fix

task: use secret for h2ogpte_api_base in auto pr workflow
  .github/workflows/h2ogpte_auto_pr.yml
Due: prettier-fix

task: remove GitHub API URLs from h2ogpte_auto_pr.yml
  .github/workflows/h2ogpte_auto_pr.yml
Due: prettier-fix

modified installation script
  installation.sh
Due: none

fixed colours
  installation.sh
Due: none

changed print statements for zsh compatibility
  installation.sh
Due: none

reverted change
  installation.sh
Due: none

change to get stdin
  installation.sh
Due: none

removed tty
  installation.sh
Due: none

piped dev/tty global for script
  installation.sh
Due: none

piped dev/tty global for script2
  installation.sh
Due: none

piped dev/tty global for script3
  installation.sh
Due: none

remove pipe dev/tty global for script
  installation.sh
Due: none

changed installation command in readme
  README.md
Due: prettier-fix

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
