Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

added missing link
  src/core/response/response_builder.ts
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

modified prompt for response format]
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

modified prompt
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

modified prompt for more engaging output
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

modified output to prevent accidental double trigger
  src/core/response/response_builder.ts
Due: eslint-fix, prettier-fix, typescript-check

modified prompt further
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

modified output emojis + warning message
  src/core/response/prompt.ts
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Feature: UI change (#117)
  src/core/response/prompt.ts
  src/core/response/response_builder.ts
  src/core/response/utils/extract-response.ts
  src/entrypoint.ts
  tests/response/extract-response.test.ts
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed issue where dot didn't exist in file extension
  src/core/data/utils/file-downloader.ts
  tests/file-downloader.test.ts
Due: eslint-fix, prettier-fix, typescript-check

reverted changes in implementation
  src/core/data/utils/file-downloader.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: file extension (#128)
  tests/file-downloader.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added branch name information
  src/core/data/fetcher.ts
  src/core/response/prompt.ts
  src/core/response/utils/instruction.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

added issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: prettier-fix

made forms less generic
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: prettier-fix

modified prompt regarding wasted turns
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

modified bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier-fix

modified to use issue type rather than labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: prettier-fix

Task/issue templates (#131)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: prettier-fix

added quotes for branch names
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: agent efficiency (#134)
  src/core/data/fetcher.ts
  src/core/response/prompt.ts
  src/core/response/utils/instruction.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

added logo
  assets/H2O.ai Logo Animated - Simple_transparent.gif
  src/core/response/response_builder.ts
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

renamed gif
  assets/h2o_logo.gif
  src/core/response/response_builder.ts
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added logo placeholder into correct chat
  src/core/response/response_builder.ts
  src/entrypoint.ts
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

trying encoded version of logo
  src/core/services/github/gif-encoder.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

modified encoding method
  .pre-commit-config.yaml
  src/core/services/github/gif-encoder.ts
  src/core/services/github/h2o_logo_base64.txt
Due: eslint-fix, prettier-fix, typescript-check

Refactored Installation Steps in the readme
  README.md
Due: prettier-fix

docs: fixed style so it conforms to the rest of the readme
  README.md
Due: prettier-fix

docs: fixed fenced code block style issue
  README.md
Due: prettier-fix

Docs: Refactored Installation Steps in the readme (#136)
  README.md
Due: prettier-fix

reverted changes for byte64 method, implemented s3 bucket method
  .pre-commit-config.yaml
  src/core/services/github/gif-encoder.ts
  src/core/services/github/h2o_logo_base64.txt
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

modified comment message
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

capitalised h2oGPTe
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

removed unchanged files
  assets/h2o_logo.gif
  tests/response/response_builder.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Delete assets directory
  assets/h2o-logo.gif
Due: none

Add additional use case examples and update README
  README.md
  examples/h2ogpte_auto_issue_context.yaml
  examples/h2ogpte_auto_test.yaml
  examples/h2ogpte_code_quality.yaml
  examples/h2ogpte_dependency_update.yaml
  examples/h2ogpte_release_notes.yaml
Due: prettier-fix

Feat: Update placeholder comment (#140)
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

modified default to freemium
  .github/workflows/h2ogpte.yml
  .github/workflows/h2ogpte_auto_pr.yml
  examples/h2ogpte.yaml
Due: prettier-fix

added installation script
  installation.sh
Due: none

updated readme
  README.md
Due: prettier-fix

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
