Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

edited to find issue number on comments
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed new comment/comment reply issue
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Adding feature to main fork (#27)
  .github/workflows/h2ogpte.yml
  src/entrypoint.ts
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

Adding feature to main fork (#29)
  .github/workflows/h2ogpte.yml
  src/entrypoint.ts
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed incorrectly written test
  tests/formatter.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added logs to determine changes
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed prompt to substitute all urls
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

Merging fix into main fork (#32)
  src/prompts.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed lintint issue
  tests/formatter.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed linting errors from h2ogpte code
  src/core/data/formatter.ts
  tests/formatter.test.ts
Due: eslint-fix, prettier-fix, typescript-check

changed to internal-dedicated
  action.yml
Due: prettier-fix

Fix: html tag attachment replacement (#33)
  src/core/data/formatter.ts
  src/prompts.ts
  tests/formatter.test.ts
Due: eslint-fix, prettier-fix, typescript-check

reverting back to dev
  action.yml
Due: prettier-fix

revert back to internal
  action.yml
Due: prettier-fix

chore: migrate from cloud-dev to internal dedicated for stability (#22) (#23)
  README.md
  action.yml
Due: prettier-fix

initial refactor
  src/core/services/h2ogpte/h2ogpte.ts
  src/core/services/h2ogpte/types.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

added action runID
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

changed the display URL to the action
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Moving code to main (#42)
  src/core/services/h2ogpte/h2ogpte.ts
  src/core/services/h2ogpte/types.ts
  src/entrypoint.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

modified output
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Feat: Change display URL (#43)
  src/core/services/h2ogpte/h2ogpte.ts
  src/core/services/h2ogpte/types.ts
  src/entrypoint.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

resolved merge conflict
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

uncommented key deletion code
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

Move key deletion code to main fork (#45)
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

removed unneeded code for removing collections
  src/entrypoint.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

Task: Delete agent key after run (#46)
  src/entrypoint.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

added logs for agent
  src/core/services/base.ts
  src/core/services/h2ogpte/h2ogpte.ts
  src/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

edited logging
  src/core/services/base.ts
Due: eslint-fix, prettier-fix, typescript-check

fixed fetch option
  src/core/services/base.ts
  src/core/services/h2ogpte/h2ogpte.ts
  tests/base.test.ts
Due: eslint-fix, prettier-fix, typescript-check

changed fetch timeout option
  src/core/services/base.ts
Due: eslint-fix, prettier-fix, typescript-check

changed to new fetch system
  bun.lock
  package.json
  src/core/services/base.ts
  tests/base.test.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: add example yaml
  examples/h2ogpte.yaml
Due: prettier-fix

chore: added alpha testing docs
  README.md
  bun.lock
  package.json
Due: prettier-fix

chore: moved dev docs to separate contributing guide
  CONTRIBUTING.md
  README.md
Due: prettier-fix

chore: added more detail about merging across forks
  CONTRIBUTING.md
Due: prettier-fix

alpha testing documentation (#52)
  CONTRIBUTING.md
  README.md
  bun.lock
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

alpha testing documentation (#53)
  CONTRIBUTING.md
  README.md
  bun.lock
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

revert changes to bun fetch
  package.json
  src/core/services/base.ts
Due: eslint-fix, prettier-fix, typescript-check

Revert "revert changes to bun fetch"
  package.json
  src/core/services/base.ts
Due: eslint-fix, prettier-fix, typescript-check

modified bun lock
  bun.lock
Due: none

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
