Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      - id: eslint-fix
        name: ESLint (with auto-fix)
        entry: bun run lint:fix
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      - id: prettier-fix
        name: Prettier (auto-format)
        entry: bun run format
        language: system
        files: \.(ts|js|json|md|yaml|yml)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

      - id: unit-tests
        name: Unit Tests
        entry: bun run test
        language: system
        pass_filenames: false
        verbose: false
        always_run: true

refactor: updated formatting
  docs/CONFIGURATION.md
  installation.sh
Due: prettier-fix

docs: prepare 0.3.0-beta release notes and compatibility updates
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix

refactor: removed emoji
  installation.sh
Due: none

fix: "pointing to h2o repo"
  installation.sh
Due: none

chore: delete .github/workflows/h2ogpte_dispatch.yml
  .github/workflows/h2ogpte_dispatch.yml
Due: prettier-fix

docs: prepare 0.3.0-beta release notes and compatibility updates (#285)
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix

fix: handle pull_request_target event for idNumber extraction
  src/core/data/context.ts
  src/core/response/utils/instruction.ts
Due: eslint-fix, prettier-fix, typescript-check

task: updated installation script to install gh app (#284)
  docs/CONFIGURATION.md
  installation.sh
Due: prettier-fix

fix: handle pull_request_target event for idNumber extraction (#287)
  src/core/data/context.ts
  src/core/response/utils/instruction.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: delete .github/workflows/h2ogpte_dispatch.yml (#286)
  .github/workflows/h2ogpte_dispatch.yml
Due: prettier-fix

chore: delete examples/custom_workflows/h2ogpte_guardrails.yaml
  examples/custom_workflows/h2ogpte_guardrails.yaml
Due: prettier-fix

chore(vulnerability.yml): bump trivy-action to v0.35.0
  .github/workflows/vulnerability.yml
Due: prettier-fix

chore: delete examples/custom_workflows/h2ogpte_guardrails.yaml (#289)
  docs/USAGE.md
  examples/custom_workflows/h2ogpte_guardrails.yaml
Due: prettier-fix

chore(vulnerability.yml): bump trivy-action to v0.35.0 (#290)
  .github/workflows/vulnerability.yml
Due: prettier-fix

fix: strip <turn_title> tag from agent response in addition to <stream_turn_title>
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fix: change pull_request to pull_request_target in workflow
  .github/workflows/h2ogpte.yml
Due: prettier-fix

fix: change pull_request to pull_request_target in workflow (#292)
  .github/workflows/h2ogpte.yml
Due: prettier-fix

fix: strip <turn_title> tag from agent response in addition to <stream_turn_title> (#291)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: bump version to 0.3.1-beta and update docs
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix

chore: bump version to 0.3.1-beta and update docs (#293)
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix

task: New workflow example (pii detection)
  examples/custom_workflows/h2ogpte_auto_pii.yaml
Due: prettier-fix

task: Updating documentation
  docs/USAGE.md
Due: prettier-fix

refactor: fixed formatting issues
  docs/USAGE.md
  examples/custom_workflows/h2ogpte_auto_pii.yaml
Due: prettier-fix

Task: pii output detection (#294)
  docs/USAGE.md
  examples/custom_workflows/h2ogpte_auto_pii.yaml
Due: prettier-fix

fix: remove links and images from agent output via h2ogpte llm args
  src/core/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

fix: remove links and images from agent output via h2ogpte llm args (#295)
  src/core/utils.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: bump version and docs for v0.3.2-beta
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix

Bump version to v0.3.2-beta (#296)
  README.md
  docs/CONFIGURATION.md
  package.json
Due: prettier-fix
