Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

added a check if file exists already
  installation.sh
Due: none

check if h2ogpte url exists already
  installation.sh
Due: none

added second faq
  docs/FAQ.md
  docs/images/action_PR_permissions.png
Due: prettier-fix

changed api base to be a secret
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  installation.sh
Due: prettier-fix

task: use secret for h2ogpte_api_base in workflow (#184)
  .github/workflows/h2ogpte.yml
  .github/workflows/h2ogpte_auto_pr.yml
Due: prettier-fix

added faqs (#183)
  docs/FAQ.md
  docs/images/action_PR_permissions.png
Due: prettier-fix

fixed documentation
  README.md
  docs/CONFIGURATION.md
  installation.sh
Due: prettier-fix

Fix: Installation script (#186)
  README.md
  docs/CONFIGURATION.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  installation.sh
Due: prettier-fix

fix(h2ogpte.ts): remove full api response from logs for extra security
  src/core/services/h2ogpte/h2ogpte.ts
Due: eslint-fix, prettier-fix, typescript-check

task(h2ogpte.ts): formatted code
  src/core/services/h2ogpte/h2ogpte.ts
Due: eslint-fix, prettier-fix, typescript-check

fix(h2ogpte.ts): remove full api response from logs for extra security (#188)
  src/core/services/h2ogpte/h2ogpte.ts
Due: eslint-fix, prettier-fix, typescript-check

docs(readme): add faq and clean up quick start
  README.md
Due: prettier-fix

fix(readme): ran prettier write
  README.md
Due: prettier-fix

fixed tests to not use env variables
  src/core/data/utils/file-downloader.ts
  tests/fetcher.test.ts
  tests/file-downloader.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added contributing docs regarding .env
  .env.example
  CONTRIBUTING.md
Due: prettier-fix

fix: proper exit to install script
  installation.sh
Due: none

feat(installation.sh): print h2ogpte url instead of template
  installation.sh
Due: none

fix(installation.sh): changed sed delimeter
  installation.sh
Due: none

removed .env related stuff
  .env.example
  CONTRIBUTING.md
Due: prettier-fix

fix: Install Script Exit (#193)
  installation.sh
Due: none

fix(installation.sh): changed sed delimeter (#194)
  installation.sh
Due: none

removed unused env vars
  tests/fetcher.test.ts
  tests/file-downloader.test.ts
Due: eslint-fix, prettier-fix, typescript-check

fix(extract-response.ts): final response cannot be extracted when TL;DR is next to a level 1 markdown header, changed to handle any markdown header level
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Fix: Environment variables (#192)
  .env.example
  src/core/data/utils/file-downloader.ts
  tests/fetcher.test.ts
  tests/file-downloader.test.ts
Due: eslint-fix, prettier-fix, typescript-check

docs(readme): remove secrets instruction in quick start
  README.md
Due: prettier-fix

docs(readme): add faq and clean up quick start (#191)
  README.md
Due: prettier-fix

fix(ci.yml): lock bun to 1.2.27
  .github/workflows/ci.yml
Due: prettier-fix

fix(ci.yaml): typo in version 1.2.27 -> 1.2.17
  .github/workflows/ci.yml
Due: prettier-fix

fix(ci.yml): lock bun to 1.2.17 (#201)
  .github/workflows/ci.yml
Due: prettier-fix

fix(extract-response.ts): final response cannot be extracted when TL;DR is next to a level 1 markdown header, changed to handle any markdown header level (#198)
  src/core/response/utils/extract-response.ts
  tests/response/extract-response.test.ts
Due: eslint-fix, prettier-fix, typescript-check

added commit instructions
  installation.sh
Due: none

task: bump verision to 0.2.0-beta
  README.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

added commit instructions (#202)
  installation.sh
Due: none

task: bump version to v0.2.0-beta (#203)
  README.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  package.json
Due: prettier-fix

docs(readme): added h2ogpte version bounds
  README.md
  docs/CONFIGURATION.md
Due: prettier-fix

docs(readme): removed latex rip
  README.md
Due: prettier-fix

Updated Readme to include h2ogpte compatible version (#204)
  README.md
  docs/CONFIGURATION.md
Due: prettier-fix

task: added dark mode hero
  README.md
  docs/images/h2ogpte_hero_dark.png
Due: prettier-fix

task: fixed white bleed in dark mode hero
  docs/images/h2ogpte_hero_dark.png
Due: none

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
