Repository h2oai/h2ogpte-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, typescript-check

eslint-fix:
  name: ESLint (with auto-fix)
  entry: bun run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier (auto-format)
  entry: bun run format
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bun run type-check
  language: system
  pass_filenames: false

documentation updated
  action.yml
Due: prettier-fix

feat: added custom mcp server option for GHES users (#269)
  README.md
  action.yml
  docs/CONFIGURATION.md
  docs/FAQ.md
  src/core/response/prompt.ts
  src/core/services/github/mcp.ts
  src/core/utils.ts
  tests/utils.test.ts
Due: eslint-fix, prettier-fix, typescript-check

Feat/guidelines ingestion (#267)
  .github/test-events/issue.json
  action.yml
  docs/CONFIGURATION.md
  docs/USAGE.md
  src/core/response/prompt.ts
  src/core/response/utils/guidelines.ts
  src/core/services/github/api.ts
  src/entrypoint.ts
  tests/response/utils/guidelines.test.ts
Due: eslint-fix, prettier-fix, typescript-check

new response
  src/core/response/prompt.ts
  src/core/response/utils/empty_instruction.ts
  src/core/utils.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

new response
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

new response
  src/core/response/prompt.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Formatting changed
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

Instruction for emedding file
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: Zero width character
  src/core/response/response_builder.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: Added prompt to disallow file attachements in comments
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

fix: Zero character added to empty instruction response to prevent retrigger action
  src/core/response/prompt.ts
  src/core/response/response_builder.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

task(package.json): update undici to fix CVE-2026-22036
  bun.lock
  package.json
Due: prettier-fix

Feat/deterministic empty instructions (#268)
  src/core/response/prompt.ts
  src/core/response/response_builder.ts
  src/core/utils.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Feat/non existent files (#270)
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

task(package.json): update undici to fix CVE-2026-22036 (#271)
  bun.lock
  package.json
Due: prettier-fix

chore(auth): update OIDC token exchange endpoint to prd url
  src/core/services/github/auth.ts
Due: eslint-fix, prettier-fix, typescript-check

fix(oidc): abstracted deployment environment to constant
  src/core/services/github/auth.ts
Due: eslint-fix, prettier-fix, typescript-check

feat: implemented latest tag (#275)
  .github/workflows/release.yml
  bun.lock
  docs/CONFIGURATION.md
  docs/FAQ.md
Due: prettier-fix

chore(auth): updated prd OIDC endpoint
  src/core/services/github/auth.ts
Due: eslint-fix, prettier-fix, typescript-check

chore(auth): use dev endpoint for OIDC for testing
  src/core/services/github/auth.ts
Due: eslint-fix, prettier-fix, typescript-check

chore(auth): reverted back to prd endpoint
  src/core/services/github/auth.ts
Due: eslint-fix, prettier-fix, typescript-check

task: Added eventId to tag
  src/core/response/utils/formatter.ts
Due: eslint-fix, prettier-fix, typescript-check

refactor: All parts of the prompt are tagged with suitable labels (#277)
  src/core/response/prompt.ts
  src/core/response/utils/formatter.ts
  tests/response/formatter.test.ts
Due: eslint-fix, prettier-fix, typescript-check

task: installation script updated to install gh app
  installation.sh
Due: none

task: updated installation script to install gh app
  installation.sh
Due: none

task: added prompt to issue branch
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

refactor: added descriptions for gh app installation
  installation.sh
Due: none

refactor: updated prompt with examples
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

refactor: updated prompt added to other prompt branch
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

refactor: moving prompt to function
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

docs: fix and align configuration table with action.yml
  README.md
  docs/CONFIGURATION.md
Due: prettier-fix

chore: out of scope prompt (#282)
  src/core/response/prompt.ts
Due: eslint-fix, prettier-fix, typescript-check

chore: use @latest tag in all example workflows
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
Due: prettier-fix

Feat: OIDC Token Exchange (#246)
  .github/workflows/h2ogpte.yml
  .github/workflows/h2ogpte_auto_pr.yml
  .github/workflows/h2ogpte_dispatch.yml
  action.yml
  docs/CONFIGURATION.md
  examples/custom_workflows/h2ogpte_auto_docs.yaml
  examples/custom_workflows/h2ogpte_auto_issue_context.yaml
  examples/custom_workflows/h2ogpte_auto_pr.yaml
  examples/custom_workflows/h2ogpte_auto_test.yaml
  examples/h2ogpte.yaml
  src/core/services/github/api.ts
  src/core/services/github/auth.ts
  src/core/services/github/octokits.ts
  src/core/services/github/types.ts
  src/core/utils.ts
  src/entrypoint.ts
Due: eslint-fix, prettier-fix, typescript-check

Path conditions:
  eslint-fix: any of: \.(ts|js)$
  prettier-fix: any of: \.(ts|js|json|md|yaml|yml)$
  typescript-check: any of: \.(ts|tsx)$
